[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=info.you_ra.screen_recorder
Exec=info.you_ra.screen_recorder
Name=Screen recorder
Name[ru]=Запись экрана

[X-Application]
Permissions=Audio;Microphone;RemovableMedia;UserDirs;Internet
OrganizationName=info.you_ra
ApplicationName=screen_recorder
